{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {% if '\n' in message %}
                        {% for line in message.split('\n') %}
                            <p class="mb-1">{{ line }}</p>
                        {% endfor %}
                    {% else %}
                        {{ message }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}